- @messages.each do |message|
  .chat__message
    .chat__message-user
      = message.user.name
    .chat__message-date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
    .chat__message-text
      - if message.content.present?
        %p.chat__message-text-content
          = message.content
    = image_tag message.image.url, class: 'chat__message-image' if message.image.present?
