!!!
%html
  %head
  %body
    .note
      チャットグループが作成されました。
    .chat
      .side
        .side__user-content
          .user-content__user-name
            hoge-san
          .user-content__user--new-group
          = link_to '/' do
            %i.fa.fa-cog
          .user-content__user--edit-account
          = link_to '/' do
            %i.fa.fa-edit
        .side__groups
          .groups__group-list
            .groups__group
              .group__name
                hoge group
              .group__message
                hoge hoge hoge
            .groups__group
              .group__name
                test group
              .group__message
                test test test

      .main
        .main__group
          .group__group-name
            sampleグループ
          .group__group-member
            Member: hogehogehoge
          .group__edit-button
            Edit
        .main__chat
          .chat__message
            .chat__message-user
              hoge
            .chat__message-date
              2018/11/09 06:28:44
            .chat__message-text
              haml, sass, BEM
          .chat__message
            .chat__message-user
              test
            .chat__message-date
              2018/11/09 13:28:44
            .chat__message-text
              Gooooooooooooooooooooood

        .main__footer
          %form.main__footer-form{:action=> "/", :method => "post"}
            .main__footer-body
              %input.message{:type=> "text", :placeholder => "type a message"}
              %label.upload-label{for: "upload-icon"}
              %input.image{type: "image", id: "upload-icon"}
                %i.fa.fa-image
              %input.main__footer__send-btn{:type => "submit", :value => "Send"}

        / .main__footer
        /   %form.main__footer-form{:action=> "/", :method => "post"}
        /     .main__footer-body
        /       %input.message{:type=> "text", :placeholder => "type a message"}
        /       %label.message-image{for: "upload-icon"}
        /         %input.image{type: "file", name: "message[image]", id: "message_image"}
        /           %i.fa.fa-image
        /       %input.main__footer__send-btn{:type => "submit", :value => "Send"}





/ ------------------------
/ %label.upload-label{for: "upload-icon"}
/   %i.fa.fa-picture-o
/   = f.file_field :image, id: "upload-icon"

