.note {
  background-color: #38AEF0;
  text-align: center;
}

.side {
  height: 100vh;
  width: 300px;
  float: left;
  .side__user-content {
    height: 80px;
    width: 100%;
    background-color: #253141;
    margin: auto 0;
    position: relative;
    .user-content__user-name {
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 80px;
      margin: 0 20px;
      display: inline-block;
    }
    .user-content__user--new-group {
      position: relative;
      display: inline-block;
      margin-left: 100px;
      .fa.fa-cog {
        display: inline-block;
      }
    }
    .user-content__user--edit-account {
      position: relative;
      display: inline-block;
      .fa.fa-edit {
        display: inline-block;
      }
    }
  }
  .side__groups {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #2f3e51;
    .groups__group-list {
      .groups__group {
        height: 80px;
        width: 100%;
        .group__name {
          font-size: 15px;
          color: #FFFFFF;
          box-sizing: border-box;
          margin-left: 20px;
        }
        .group__message {
          font-size: 11px;
          color: #FFFFFF;
          box-sizing: border-box;
          margin-left: 20px;
        }
      }
    }
  }
}

.main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #AAAAAA;
  float: left;
  .main__group {
    height: 80px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    .group__group-name {
      font-size: 20px;
      color: #333333;
      margin: 35px 0 15px;
      float: left;
    }
    .group__group-member {
      font-size: 12px;
      color: #999999;
      box-sizing: border-box;
      margin: 0 40px;
    }
    .group__edit-button {
    }
  }
}




