.note {
  background-color: #38AEF0;
  text-align: center;
}

.chat {
  display: flex;
  align-content: strech;
  .side {
    box-sizing: border-box;
    height: 100vh;
    width: 300px;
    .side__user-content {
      box-sizing: border-box;
      height: 90px;
      width: 100%;
      background-color: #253141;
      margin: auto 0;
      // position: relative;
      .user-content__user-name {
        box-sizing: border-box;
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 80px;
        margin: 0 20px;
        display: inline-block;
      }
      .user-content__user--new-group {
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        margin-left: 100px;
        .fa.fa-cog {
          display: inline-block;
        }
      }
      .user-content__user--edit-account {
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        .fa.fa-edit {
          display: inline-block;
        }
      }
    }
    .side__groups {
      box-sizing: border-box;
      height: calc(100vh - 90px);
      background-color: #2f3e51;
      .groups__group-list {
        .groups__group {
          box-sizing: border-box;
          height: 80px;
          width: 100%;
          .group__name {
            box-sizing: border-box;
            font-size: 15px;
            color: #FFFFFF;
            box-sizing: border-box;
            margin-left: 20px;
          }
          .group__message {
            font-size: 11px;
            color: #FFFFFF;
            box-sizing: border-box;
            margin-left: 20px;
          }
        }
      }
    }
  }

  .main {
    box-sizing: border-box;
    height: 100vh;
    width: calc(100vw - 300px);
    background-color: #FFFFFF;
    float: right;
    .main__group {
      height: 90px;
      width:  100%;
      border: 1px solid #eeeeee;
      box-sizing: border-box;
      position: relative;
      .group__group-name {
        box-sizing: border-box;
        font-size: 20px;
        color: #333333;
        margin: 35px 40px 15px;
      }
      .group__group-member {
        font-size: 12px;
        color: #999999;
        box-sizing: border-box;
        margin: 0px 40px;
        position: absolute;
        bottom: 0px;
      }
      .group__edit-button {
        box-sizing: border-box;
        padding: 5px 20px;
        position: absolute;
        top: 28px;
        right: 40px;
        border: 1px solid blue;
        color: blue;
      }
    }

    .main__chat {
      box-sizing: border-box;
      width: 100%;
      height: calc(100vh - 90px - 90px);
      .chat__message {
        box-sizing: border-box;
        height: 75px;
        width: 100%;
        margin-top: 6px;
        .chat__message-user {
          box-sizing: border-box;
          height: 100%;
          font-size: 16px;
          font-weight: bold;
          color: #434A54;
          padding-top: 40px;
          padding-left: 40px;
          float: left;
        }
        .chat__message-date {
          box-sizing: border-box;
          font-size: 12px;
          color: #999999;
          float: left;
          padding-top: 40px;
          padding-left: 10px;
        }
        .chat__message-text {
          clear: both;
          box-sizing: border-box;
          font-size: 14px;
          color: #434A54;
          padding-top: 10px;
          padding-left: 40px;
        }
      }
    }
    .main__footer {
      box-sizing: border-box;
      height: 90px;
      width: 100%;
      background-color: #AAAAAA;
      .main__footer-body {
        box-sizing: border-box;
        position: relative;
        .message {
          box-sizing: border-box;
          height: 50px;
          width: calc(100% - 150px);
          padding: 10px 10px;
          margin: 20px 0;
          border: none;
        }
        .upload-label {
          box-sizing: border-box;
          height: 50px;
          width: 40px;
          margin: 32px 130px 20px 0;
          position: absolute;
          top: 15px;
          right: 0;
          .image {
            box-sizing: border-box;
            position: absolute;
            top: 0px;
            left: 0px;
            display: inline-block;
            .fa.fa-image {
              box-sizing: border-box;
              position: absolute;
              top: 15px;
              left: 15px;
              display: inline-block;
            }
          }
        }
        .main__footer__send-btn {
          box-sizing: border-box;
          color: #fff;
          width: 100px;
          height: 50px;
          text-align: center;
          background-color: #38AEF0;
          margin: 20px 0;
          position: absolute;
          top: 0;
          right: 0;
          border: none;
        }
      }
    }
  }
}




