.note {
  background-color: #38AEF0;
}

.side {
  height: 100vh;
  width: 300px;
  float: left;
  .side__user-content {
    height: 15%;
    background-color: #253141;
    position: relative;
    .user-content__user-name {
      font-size: 16px;
      font-weight: bold;
      color: #FFFFFF;
      position: absolute;
      top: 35px;
      left: 20px;
    }
    .user-content__user--add-group {
    }
    .user-content__user--edit-account {
    }
  }
  .side__groups {
    height: 85%;
    background-color: #2f3e51;
    .groups__group-list {
      height: 100%;
      .groups__group {
        height: 80px;
        position: relative;
        .group__name {
          font-size: 15px;
          color: #FFFFFF;
          position: absolute;
          top: 0;
          left: 20px;
        }
        .group__message {
          font-size: 11px;
          color: #FFFFFF;
          position: absolute;
          left: 20px;
          bottom: 40px;
        }
      }
    }
  }
}

.main {
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;
  .main__group{
    height: 15%;
    width: 100%;
    border: 1px solid #eeeeee;
    position: relative;
    .group__group-name {
      font-size: 20px;
      color: #333333;
      position: absolute;
      top: 35px;
      left: 40px;
    }
    .group__group-member {
      font-size: 12px;
      color: #999999;
      position: absolute;
      top: 70px;
      left: 40px;
    }
    .group__edit-button {
      height: 40px;
      position: absolute;
      top: 28px;
      right: 40px;
      border: 1px solid blue;
    }
  }

  .main__chat {
    height: calc(100% - 15% - 90px);
    width: 100%;
    .chat__message {
      height: 80px;
      width: 100%;
      padding-top: 46px;
      position: relative;
      .chat__message-user {
        font-size: 16px;
        font-weight: bold;
        color: #434A54;
      }
      .chat__message-date {
        font-size: 12px;
        color: #999999;
        position: absolute;
        top: 46px;
        left: 100px;
      }
      .chat__message-text {
        font-size: 14px;
        color: #434A54;
      }
    }
  }

  .main__message-form {
    height: 90px;
    width: 100%;
    background-color: #AAAAAA;
    .message-form__form {
      height: 100%;
      width: 100%;
      position: relative;
      .message-form__input {
        height: 10px;
        font-size: 16px;
        color: #434A54;
        position: absolute;
        left: 50px;
      }
      .message-form__send-button {
        height: 15px;
        background-color: #38AEF0;
        position: absolute;
        top: 20px;
        right: 40px;
        bottom: 20px;
      }
    }
  }
}
